@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: rgb(202, 216, 230);  
}

.mainTitle {
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    background-color: rgb(41, 167, 240);
    color: white;
    font-weight: bold;
}

.sidebar {
    grid-row: 2 / 3;
    background-color: rgb(41, 167, 240);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.sidebar ul {
    list-style-type: none;
    text-align: center;
}

.sidebar ul li {
    padding: 10px 0px;
}

.announcements {
    padding-top: 30px;
    padding-right: 24px;
}

.announcementTitle {
    font-size: 18px;
    font-weight: bold;
}
.aTitle {
    font-weight: bold;
    font-size: 14px;
}

.announcements ul {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    list-style-type: none;
    padding: 24px;
    border-radius: 5px;
    background-color: white;
    margin-top: 16px;
    font-size: 13px;
}
.announcements ul li p:last-child {
    color:rgb(75, 72, 72)
}

.announcements ul li:nth-child(n+2) {
    padding-top: 22px;
}

.line {
    border-bottom: 1px ridge rgb(196, 191, 191);
    padding: 13px;
    height: 50%;
}

.trending {
    padding-right: 24px;
    padding-bottom: 20px;
    padding-top: 24px;
}

.trending ul {
    list-style-type: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    padding: 12px 16px;
    border-radius: 5px;
    margin-top: 10px;
}
.trending ul li {
    padding: 10px;
    font-size: 13px;
}
.trending ul li p:last-child {
    color:rgb(75, 72, 72)
}

.trendingTitle {
    font-size: 18px;
    font-weight: 600;
}

.at {
    font-size: 14px;
}

.projectsTitle {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    left: 20px;
}

.projects {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 27px;
    position: relative;
    padding: 30px 20px;
}

.card {
    background-color: white;
    border-radius: 5px;
    padding: 36px 28px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 10px;
}

.card p:nth-child(2) {
    font-size: 16px;
}
.card p:last-child{
    color:rgb(75, 72, 72)
}

.card .title {
    font-size: 17px;
    font-weight: bold;
}

.lowerHeader {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.header {
    background-color: white;
    grid-column: 2 / 4;
    padding: 20px 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.lowerHeader ul {
    display: flex;
    justify-self: end;
    list-style-type: none;
    gap: 40px;
    margin-left: auto;
}

.lowerHeader ul button {
    background-color: rgb(41, 167, 240);
    color: rgb(255, 255, 255);
    font-size: 12px;
    border-radius: 18px;
    padding: 9px 28px;
    border: 0;
    font-weight: bold;
}

.name {
    font-size: 22px;
    font-weight: bolder;
}

.hi {
    font-size: 13px;
    font-weight: bold;
}
